@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');




:root{
    --primary-color: #f5f5f5;
    --crimson: 	#DC143C;
    --red: #FF0000;
    --indianred: #CD5C5C;
    --blue-color: #0000FF;
    --green-color: 	#00FA9A;
    --black: #000000;
    --light-silver: #C0C0C0;
    --box-shadow-black: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --transaperecy: rgba(0, 0, 0, 0.2);
    --gray-transaperecy: rgb(146 151 179 / 13%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.main{
    height: 1000px;
    background-color: var(--red);
    position: relative;
    padding: 20px;
}

.main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 1000px 300px rgba(255, 255, 255, 0.6); /* Glowing effect */
}
.main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .nav .logo img{
    width: 100px;
    height: 100px;
}

.main .nav .center-nav ul{
    list-style-type: none;
    display: flex;
    column-gap: 50px;
}

.main .nav .center-nav ul li{
    color: var(--primary-color);
}

.main .nav .user i{
    font-size: 20px;
    color: var(--primary-color);
}
.main .nav .user {
    display: flex;
    column-gap: 20px;
}

.content {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.nike-text {
    font-size: 30rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-family: "Anton", sans-serif;
}

.content img {
    width: 900px;
    object-fit: cover;
    height: auto;
    z-index: 100;
    position: absolute;
    top: -10%;
    left: 27%;
}

.about{
    position: absolute;
    top: 40%;
    left: 7%;
}
.about .about-text h2{
    color: var(--primary-color);
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.about .about-text p{
    margin: 0;
    margin-bottom: 4px;
    color: var(--primary-color);
}

.about .about-text{
    margin-bottom: 50px;
}

.about .size{
    margin-bottom: 20px;
}
.about .size h5{
    color: var(--primary-color);
    margin-bottom: 10px;
}

.about .size .sizes{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    width: 50%;
}
.about .size .sizes .size-number{
    border: 1px solid var(--primary-color);
    width: 40px;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.color h5{
    color: var(--primary-color);
}

.color .colors{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.color .colors .color-red{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--indianred);
    box-shadow: 0 0 10px 2px var(--black);
}
.color .colors .color-blue{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--blue-color);
    box-shadow: 0 0 10px 2px var(--black);
}
.color .colors .color-green{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--green-color);
    box-shadow: 0 0 10px 2px var(--black);
}

.color .colors .color-red:hover,
.color .colors .color-blue:hover,
.color .colors .color-green:hover{
    border: 3px solid var(--primary-color);
    cursor: pointer;
}

.video {
    display: flex;
    justify-content: center;
    text-align: center;
}
.video .video-content{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.video button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--gray-transaperecy);
    color: var(--primary-color);
}
.video button i{
    font-size: 20px;
}

.video p{
    color: var(--primary-color);
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}

.description {
    position: absolute;
    top: 60%;
    right: 3%;
    width: 25%;
    padding: 20px;
    box-shadow: 0 0 10px var(--transaperecy);
}


.description .description-content p {
    width: 100%;
    color: var(--primary-color);
}

.description .description-content .buttons{
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}
.description  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: var(--red);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
